---
import Header from '../components/Header.astro'
import { Definition } from '../components/Definition'
import Loader from '../components/Loader.astro'
import '../styles/global.css'
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <meta
      name='description'
      content='The diccionary project app that gives you a quite response in a simple, minimalistic and beautifull way'
    />
    <title>The dictionary app</title>
  </head>
  <body id='body'>
    <Header />
    <Definition client:visible>
      <Loader />
    </Definition>
  </body>
</html>
