---
---

<main>
  <h1>holi</h1>
  <!-- {
    // eslint-disable-next-line multiline-ternary, no-extra-boolean-cast
    !!data?.word && (
      <>
        <section class='flex justify-between mt-11'>
          <div>
            <h1 class='text-[64px] font-bold'>{data?.word}</h1>
            <h3 class='text-[24px] text-[#A445ED]'>
              /{data?.pronunciation.all}/
            </h3>
          </div>
          {/* <img src='/assets/images/icon-play.svg' alt='and icon of play to play an audio' /> */}
        </section>
        {/* results */}
        <section class='mt-[40px]'>
          <div class='flex gap-4 items-center'>
            <h2 class='text-[24px] font-bold italic'>noun</h2>
            <div class='w-full h-[2px] bg-slate-200' />
          </div>
          <div class='mt-10'>
            <h3 class='text-[#757575] text-xl mb-6'>Meaning</h3>
            <ol class='pl-8'>
              {data?.results?.map((item, index) => (
                <li class='py-[13px]'>{item.definition}</li>
              ))}
            </ol>
          </div>
        </section>
      </>
    )
  } -->
</main>
